
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*colors*/
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Grayish-blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: var(--Very-light-grayish-blue);
}
b{
    color: var(--Very-dark-blue);
    font-weight: 700;
}
/*----------------Mobile design-------------------*/
@media only screeen and  (width<=550px) {
    body{
        padding: 0em;
    }
    .container{
        width: 100%;
    }
    
}
/*----------------desktop design------------------*/
@media only screen and (width > 550px){
    body{
        padding: 5%;
    }
    .container{
        width: 75%;
    }
}
.container{
    max-width: 700px;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--Light-grayish-blue-1);
    padding: 1em;
}
/*------------------heading-----------------------*/
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.head > section:first-child{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
}
.head > section:first-child > span{
    background-color: var(--Blue);
    color: var(--White);
    padding: .0em .5em;
    border-radius: 7px;
}
.head > section:last-child{
    font-size: 1rem;
    font-weight: 500;
    padding-top: .3em;
}
.head > section:last-child:hover{
    color: var(--Blue);
}
/*----------------------main-----------------------*/
.main > section{
    display: flex;
    flex-direction: row;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 7px;
}
.notifi > p > i{
    font-size: .6em;
    color: var(--Red);
}
.notifi{
    background-color: var(--Very-light-grayish-blue);
}
/*toggle styling class*/
.seen{
    background-color: var(--White);
}
.seen > p > i{
    display: none;
}
.main > section:nth-child(4) > section > section{
    border: 1px solid var(--Grayish-blue);
    border-radius: 7px;
    padding: .5em .9em;
    margin: .5em 0em;
}
.main > section:nth-child(4) > section > section:hover{
    background-color: var(--Light-grayish-blue-2);
    border: 1px solid var(--Light-grayish-blue-2);
    color: var(--Dark-grayish-blue);
}
.main > section > img{
    float: left;
    height: fit-content;
    margin: 0em .5em;
    width: 2.4em;
}
.main > section > p > b:hover:not(#cc){
    color: var(--Blue);
}
.main > section:nth-child(3) > p > b:last-child{
    color: var(--Blue);
}
#cc{
    color: var(--Blue);
}